.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: var(--space-2xl);
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: center;
}

.buttonRow {
  display: flex;
  gap: var(--space-sm);
}

.topSection {
  display: flex;
  text-align: left;
  gap: 30px;
  margin-bottom: var(--space-2xl);
}

.topHeading {
  margin: 0px;
  margin-bottom: var(--space-md);
  text-align: left;
  font-family: var(--heading);
  font-size: var(--text-4xl);
  font-weight: 600;
  color: var(--white);
  margin-top: 0px;
  line-height: 100%;
}

.topCopy {
  margin: 0px;
  margin-bottom: var(--space-md);
  display: block;
  font-family: var(--copy);
  text-align: left;
  font-size: var(--text-md);
  color: var(--white);
}

.portrait {
  object-fit: contain;
  width: 32%;
  border-radius: var(--radius-md);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border-radius: var(--radius-md);
  text-align: left;
  width: 32%;
  min-width: 300px;
}

.margin {
  margin: var(--space-md);
  margin-bottom: 0px;
}

.heading {
  margin-left: var(--space-md);
  margin-bottom: var(--space-md);
  text-align: left;
  font-family: var(--heading);
  font-size: var(--text-2xl);
  font-weight: 600;
  color: var(--white);
}

.copy {
  margin: 0px;
  display: block;
  font-family: var(--copy);
  text-align: left;
  font-size: var(--text-md);
  color: var(--white);
  margin: 0 var(--space-md) var(--space-2xl) var(--space-md);
}

.imageContainer {
  display: flex;
  gap: var(--space-sm);
  margin-top: auto;
  margin-bottom: var(--space-md);
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    margin-bottom: 50px;
    height: auto;
  }

  .topSection {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .topCopy {
    margin-bottom: 30px;
  }

  .topHeading {
    margin-bottom: var(--space-md);
  }

  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }

  .justify {
    text-align: left;
    font-size: var(--text-md);
    max-width: none;
    width: 100%;
  }

  .portrait {
    width: 100%;
    min-width: 200px;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
}
