.cs-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--whitesmoke);
  padding: var(--space-sm);
}

.cs-heading {
  display: block;
  margin-bottom: 5px;
  margin-left: var(--space-xl);
  text-align: left;
  font-family: var(--heading);
  font-size: var(--text-xl);
  font-weight: 600;
  color: var(--black);
}

.cs-heading-2 {
  margin-left: 0px 30px;
  margin-top: 0px;
}

.cs-body {
  font-family: var(--copy);
  text-align: left;
  font-size: var(--text-md);
  color: var(--black);
  margin: var(--space-md) var(--space-xl);
  line-height: 26px;
}

.cs-body:first-child {
  margin-top: var(--space-xs);
}

.cs-border {
  margin: 0px auto auto auto;
  border-bottom: 2px solid var(--black);
  width: 95%;
  text-align: center;
}

.cs-caption {
  font-style: italic;
  font-family: var(--copy);
  font-size: var(--text-sm);
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

/* images */

.image-container {
  float: right;
  margin-bottom: -10px;
}

.cs-image {
  display: flex;
  margin-bottom: -12px;
  margin-left: 12px;
  margin-right: var(--space-xl);
  width: 25rem;
  border-radius: var(--radius-sm);
}

.image-container-center {
  margin: auto;
  margin-top: var(--space-md);
  text-align: center;
  font-style: italic;
  font-weight: 200;
}

.cs1-image-2 {
  border-radius: var(--radius-sm);
  width: 65%;
  margin: auto;
  margin-bottom: -15px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.video-container {
  float: left;
}

.cs-video {
  margin: 25px;
  margin-bottom: -5px;
  width: 25rem;
  border-radius: var(--radius-sm);
}

/* credits */

.cs-flex-container {
  display: flex;
  justify-content: center;
}

.cs-column {
  display: flex;
  flex-direction: column;
}

/* buttons */

.x-button {
  text-decoration: none;
  color: var(--black);
  text-align: right;
  font-size: 27px;
  font-family: var(--heading);
  font-weight: 600;
  margin-bottom: -5px;
}

.x-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cs-button {
  display: flex;
  border-radius: var(--radius-sm);
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border: 2px solid var(--black);
  font-family: var(--copy);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: var(--space-md);
  margin-bottom: var(--space-xl);
  width: 125px;
  height: 30px;
  background-color: var(--opaque);
  color: var(--black);
  transition: var(--transition);
}

.cs-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .cs-heading {
    font-size: var(--text-lg);
    margin-left: var(--space-xs);
  }

  .cs-body {
    font-size: var(--text-sm);
    margin-left: var(--space-xs);
    margin-bottom: var(--space-sm);
  }

  .cs-container {
    width: 95%;
  }

  .cs-card-container {
    padding: 3px;
  }

  .image-container {
    margin-bottom: -10px;
  }

  .cs-image {
    width: 11rem;
  }

  .video-container {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cs-video {
    width: 85%;
  }

  .cs-caption {
    font-size: var(--text-sm);
  }

  .cs-border {
    border-bottom: 1px solid var(--black);
  }

  .x-button {
    font-size: 24px;
  }

  .cs-button {
    width: 80px;
    height: 25px;
    font-size: var(--text-sm);
    border: 1px solid var(--black);
  }
}
