.card {
  height: auto;
  background-color: var(--black);
  width: 100%;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-sm);
}

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-weight: 600;
  font-style: bold;
  font-family: var(--heading);
  color: var(--white);
  font-size: var(--text-2xl);
  text-align: left;
  margin-top: 0px;
  margin-bottom: var(--space-md);
}

.linkContainer {
  font-size: var(--text-md);
  font-weight: 300;
  color: var(--white);
  display: flex;
  width: max-content;
  margin-left: auto;
  margin-top: var(--space-md);
  align-items: center;
}

.connect {
  font-weight: 600;
  display: flex;
  font-family: var(--copy);
  font-size: var(--text-md);
  letter-spacing: 1px;
  color: var(--white);
  text-decoration: none;
  margin-right: var(--space-xs);
  margin-left: 0px;
  text-transform: uppercase;
  padding: 0;
}

.link {
  display: flex;
  font-family: var(--copy);
  font-size: var(--text-md);
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  margin-right: var(--space-xs);
  margin-left: var(--space-xs);
  transition: var(--transition);
  text-transform: uppercase;
  padding: 0;
  border: none;
  background: none;
}

.link:first-child {
  margin-left: 0px;
}

.link:last-child {
  margin-right: 0px;
}

.link:hover {
  color: var(--teal);
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .container {
    width: 80%;
  }

  .linkContainer {
    margin: auto;
    width: 100%;
    justify-content: space-between;
  }

  .body,
  .link {
    font-size: var(--text-sm);
    font-weight: 400;
  }

  .link {
    font-weight: 400;
  }

  .link:nth-child(2) {
    margin-left: 0px;
  }

  .connect {
    display: none;
  }
}
