.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  grid-column: viewport;
  display: inherit;
  height: auto;
  width: 100%;
  background-color: var(--black);
  margin: var(--space-sm) 0;
}

.cardContainer {
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  display: flex;
  width: 98%;
  align-self: flex-start;
  margin: 0 0 12px 0;
  border-radius: var(--radius-sm);
}

.heading {
  text-align: left;
  margin: 0 0 12px 0;
  font-family: var(--heading);
  font-size: var(--text-3xl);
  font-weight: 600;
  color: var(--white);
}

.body {
  margin: 0 0 12px 0;
  font-family: var(--copy);
  text-align: left;
  width: 98%;
  font-size: var(--text-md);
  color: var(--white);
}

.tools {
  font-family: var(--copy);
  text-align: left;
  font-size: var(--text-md);
  font-style: italic;
  color: var(--white);
  margin: 0 0 12px 0;
}

.buttonContainer {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.cardButton {
  display: flex;
  border-radius: var(--radius-sm);
  border: 2px solid var(--teal);
  font-family: var(--copy);
  text-decoration: none;
  text-transform: uppercase;
  min-width: 125px;
  height: 35px;
  background-color: var(--opaque);
  color: var(--teal);
  transition: var(--transition);
  justify-content: center;
  align-items: center;
}

.text {
  height: 1em;
  line-height: 1em;
  font-size: var(--text-sm);
}

.cardButton:hover {
  cursor: pointer;
  opacity: 0.5;
}
