.container {
  width: 100%;
  margin: auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.label {
  font-family: var(--copy);
  font-size: var(--text-lg);
  font-weight: 400;
  color: var(--white);
  margin-bottom: var(--space-xs);
  align-self: flex-start;
  text-transform: capitalize;
}

.field {
  margin-bottom: var(--space-md);
  font-family: var(--copy);
  font-size: var(--text-md);
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 5px;
}

.input {
  border-radius: var(--radius-sm);
  border: 2px solid var(--black);
}

.textarea {
  margin-bottom: var(--space-md);
  font-family: var(--copy);
  font-size: var(--text-md);
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 5px;
  border-radius: var(--radius-sm);
  border: 2px solid var(--black);
  height: 125px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--teal);
}

.textarea:focus {
  outline: none;
  border: 2px solid var(--teal);
}

.button {
  border-radius: var(--radius-sm);
  border: 2px solid var(--teal);
  font-family: var(--copy);
  text-decoration: none;
  text-transform: uppercase;
  min-width: 125px;
  background-color: var(--opaque);
  color: var(--teal);
  transition: var(--transition);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.buttonText {
  display: flex;
  height: 1.3em;
  font-size: var(--text-lg);
  margin: 0px;
  padding-bottom: 3px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 786px) {
  .label,
  .input {
    font-size: var(--text-md);
    font-weight: 400;
  }

  .container {
    margin-bottom: var(--space-md);
  }
}
