.container {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  margin-bottom: var(--space-2xl);
}

.list {
  gap: var(--space-md);
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  max-width: 1200px;
  min-height: 450px;
  background-color: var(--black);
}

.card:first-child {
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}

.card:last-child {
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

.cardContainer {
  display: grid;
  grid-gap: var(--space-xl);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  padding: var(--space-2xl);
}

.column1 {
  display: grid;
  grid-column-start: 1;
}

.column1Container {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

.heading {
  margin: 0 0 var(--space-md) 0;
  text-align: left;
  font-family: var(--heading);
  font-size: var(--text-3xl);
  font-weight: 600;
  color: var(--white);
}

.body {
  margin: 0 0 var(--space-md) 0;
  font-family: var(--copy);
  text-align: left;
  font-size: var(--text-md);
  color: var(--white);
}

.tools {
  font-family: var(--copy);
  font-size: var(--text-lg);
  font-weight: 400;
  text-align: left;
  margin: 0 0 var(--space-md) 0;
  color: var(--white);
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.cardButton {
  border-radius: var(--radius-sm);
  border: 2px solid var(--teal);
  font-family: var(--copy);
  text-decoration: none;
  text-transform: uppercase;
  min-width: 125px;
  background-color: var(--opaque);
  color: var(--teal);
  transition: var(--transition);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkText {
  display: flex;
  height: 1.3em;
  font-size: var(--text-lg);
  margin: 0px;
  padding-bottom: 3px;
}

.cardButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.column2 {
  display: grid;
  grid-column-start: 2;
}

.cardImage {
  align-self: center;
  width: 100%;
  object-fit: contain;
  border-radius: var(--radius-sm);
}
