.container {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  margin-bottom: 40px;
}

.list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  max-width: 1200px;
  min-height: 450px;
  background-color: var(--black);
}

.card:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cardContainer {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  padding: 40px 50px;
}

.column1 {
  display: grid;
  grid-column-start: 1;
}

.column1Container {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

.heading {
  margin: 0 0 20px 0;
  text-align: left;
  font-family: var(--heading);
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
}

.body {
  margin: 0 0 20px 0;
  font-family: var(--copy);
  text-align: left;
  font-size: 1.2em;
  color: var(--white);
}

.tools {
  font-family: var(--copy);
  font-size: large;
  font-style: italic;
  text-align: left;
  margin: 0 0 20px 0;
  color: var(--white);
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cardButton {
  border-radius: 5px;
  border: 2px solid var(--teal);
  font-family: var(--copy);
  text-decoration: none;
  text-transform: uppercase;
  min-width: 125px;
  background-color: var(--opaque);
  color: var(--teal);
  transition: 0.6s;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkText {
  display: flex;
  height: 1.3em;
  font-size: 1.3em;
  margin: 0px;
  padding-bottom: 3px;
}

.cardButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.column2 {
  display: grid;
  grid-column-start: 2;
}

.cardImage {
  align-self: center;
  height: 285px;
  width: 500px;
  object-fit: contain;
  border-radius: 5px;
}
