.nav {
  height: 100px;
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: var(--black);
  position: fixed;
  top: 0;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
  max-width: 1200px;
}

.logo {
  height: 70px;
  display: inline-flex;
}

.linkContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-position: center;
  transition: 0.6s;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.link:hover {
  color: var(--teal);
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  .container {
    width: 100%;
  }

  .logo {
    margin-left: 0px;
  }

  .link {
    font-weight: 400;
    font-size: 16px;
    width: 5rem;
  }
}
